body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size:0;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.bg-wrapper {
    background-image: url(images/Rectangle.png);
    height: 780px;
    color: #F7F7F7;
    padding-left: 120px;
    padding-right: 120px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    align-items: center;
}

.logo-image {
    width: 70px;
    height: 60px;
}

.logo-title {
    width: 155px;
    height: 60px;
    margin-left: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 32px;
    line-height: 60px;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: #F7F7F7;
}
a:hover {
    text-decoration: underline;
}

.navigation-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    line-height: 27px;
    align-items: center;
    text-align: center;
}
.navigation-list li:nth-child(even) {
    margin-left: 61px;
}

.navigation-list li:nth-child(odd) {
    margin-left: 60px;
}

.navigation-list__search {
    width: 32px;
    height: 32px;
    transition: 0.2s;
}

.navigation-list__search:hover{
    transition: 0.2s;
    transform: rotate(360deg);
}

.navigation-list-btn {
    width: 120px;
    height: 50px;
    border: 2px solid #CD6326;
    box-sizing: border-box;
    border-radius: 5px;
    background: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    line-height: 27px;
    color: #F7F7F7;
    outline: none;
}

.navigation-list-btn:hover {
    background: #CD6326;
    border: 0;
    outline: none;
}
.navigation-list-btn:active {
    background: #8F5613;;
    border: 0;
    outline: none;
}

.navigation-list-btn:focus {
    outline: none;
}

.survival-heading {
    width: 199px;
    font-size: 48px;
    font-weight: normal;
    line-height: 72px;
    letter-spacing: 2px;
    color: #CD6326;
    margin-top: 120px;
    margin-bottom: 51px;
}

.survival-article {
    width: 274px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 65px;
}

.survival-btn {
    width: 160px;
    height: 60px;
    background: #CD6326;
    border-radius: 5px;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    color: #F7F7F7;
}
.survival-btn:hover {
    background: #E39128;;
    border: 0;
    outline: none;
}
.survival-btn:active {
    background: #8F5613;;
    border: 0;
    outline: none;
}
.survival-btn:focus {
    outline: none;
}

