html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 0;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.bg-wrapper {
    background-image: url(images/Rectangle.png);
    height: 780px;
    color: #F7F7F7;
    padding-left: 120px;
    padding-right: 120px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-image {
    width: 70px;
    height: 60px;
}

.logo-title {
    width: 155px;
    height: 60px;
    margin-left: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 32px;
    line-height: 60px;
    text-transform: uppercase;
    color: #F7F7F7;
}

a {
    text-decoration: none;
    color: #F7F7F7;
}

a:hover {
    text-decoration: underline;
}

.navigation-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    line-height: 27px;
    align-items: center;
    text-align: center;
}

.navigation-list li:nth-child(even) {
    margin-left: 61px;
}

.navigation-list li:nth-child(odd) {
    margin-left: 60px;
}

.navigation-list__search {
    width: 32px;
    height: 32px;
    transition: 0.2s;
}

.navigation-list__search:hover {
    transition: all 0.2s;
    transform: rotate(360deg);
}

.navigation-list-btn {
    width: 120px;
    height: 50px;
    border: 2px solid #CD6326;
    box-sizing: border-box;
    border-radius: 5px;
    background: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    line-height: 27px;
    color: #F7F7F7;
    outline: none;
}

.navigation-list-btn:hover {
    background: #CD6326;
    border: 0;
    outline: none;
}

.navigation-list-btn:active {
    background: #8F5613;;
    border: 0;
    outline: none;
}

.navigation-list-btn:focus {
    outline: none;
}

.survival-heading {
    width: 199px;
    font-size: 48px;
    font-weight: normal;
    line-height: 72px;
    letter-spacing: 2px;
    color: #CD6326;
    margin-top: 120px;
    margin-bottom: 51px;
}

.survival-article {
    width: 274px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 65px;
}

.survival-btn {
    width: 160px;
    height: 60px;
    background: #CD6326;
    border-radius: 5px;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    color: #F7F7F7;
}

.survival-btn:hover {
    background: #E39128;;
    border: 0;
    outline: none;
}

.survival-btn:active {
    background: #8F5613;;
    border: 0;
    outline: none;
}

.survival-btn:focus {
    outline: none;
}


.bg-wrapper__grey {
    background-color: #CCCCCC;
}
.latest-articles__heading {
    font-weight: normal;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    color: #333333;
    margin-top: 120px;
    margin-bottom: 20px;
}

.latest-articles__content {
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #666666;
    margin-bottom: 120px;
}

.slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 120px;
    padding-right: 120px;
    margin-bottom: 239px;
}

.slider-card {
    position: relative;
}

.slider-card__heading {
    position: absolute;
    z-index: 7;
    top: 247px;
    color: #F7F7F7;

}

.slider-card__content {
    position: absolute;
    z-index: 7;
    top: 293px;
    color: #F7F7F7;
}

.get-notified__content {
    font-weight: normal;
    font-size: 27px;
    line-height: 40px;
    text-align: center;
    color: #333333;
    margin-bottom: 59px;
}

.get-notified__form {
    display: flex;
    justify-content: center;
}

.get-notified__input {
    width: 560px;
    height: 60px;
    margin-bottom: 239px;
    border: 1px solid #666666;
    border-right: none;
}

.get-notified__input::placeholder{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    color: #666666;
    padding-left: 15px;

}
.get-notified__input:focus::placeholder{
    color: transparent;
}

.get-notified__btn {
    width: 120px;
    height: 60px;
    background-color: #CD6326;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    color: #F7F7F7;
    border: none;
}

.get-notified__btn:focus{
    background-color: #8F5613;
    outline: none;
}

.footer {
    background-image: url(images/footer-bg.jpg);
    height: 359px;
    display: flex;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 120px;

}

.footer .logo {
    margin-right: 120px;
}

.footer__nav-item,
.footer__social-item {
    list-style: none;
    padding: 0;
}

.footer__nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-weight: normal;
    font-size: 23px;
    line-height: 60px;
    color: #F7F7F7;
}

.footer__social{
    display: flex;
    align-items: center;
    margin-left: 93px;
}

.footer__social-item {
    margin-left: 27px;
    transition: all 0.2s;
}

.footer__social-item:hover {
    transition: all 0.2s;
    transform: rotate(360deg);
}





